{{ config.irods.users.primary.username }}
{{ config.irods.users.primary.password }}
{{ config.irods.zone }}
{{ config.irods.port.main }}
{{ config.irods.port.file_tx_range_begin }}
{{ config.irods.port.file_tx_range_end }}
{{ config.irods.vault_dir }}
{{ config.irods.key.zone }}
{{ config.irods.key.negotiation }}
{{ config.irods.port.control_plane }}
{{ config.irods.key.control_plane }}
{{ config.irods.validation_base_url }}
{{ config.irods.users.admin.username }}
{{ config.irods.users.admin.password }}
yes
{{ config.database.hostname }}
{{ config.database.port }}
{{ config.database.name }}
{{ config.irods.users.primary.username }}
{{ config.irods.users.primary.password }}
yes

