{{ config_irods_users_primary_username }}
{{ config_irods_users_primary_password }}
{{ config_irods_zone }}
{{ config_irods_port_main }}
{{ config_irods_port_filetxrangebegin }}
{{ config_irods_port_filetxrangeend }}
{{ config_irods_vaultdir }}
{{ config_irods_key_zone }}
{{ config_irods_key_negotiation }}
{{ config_irods_port_controlplane }}
{{ config_irods_key_controlplane }}
{{ config_irods_validationbaseurl }}
{{ config_irods_users_admin_username }}
{{ config_irods_users_admin_password }}
yes
{{ config_database_hostname }}
{{ config_database_port }}
{{ config_database_name }}
{{ config_irods_users_primary_username }}
{{ config_irods_users_primary_password }}
yes

