---
# file: roles/docker-demo/tasks/main.yml

# Use docker build with a Dockerfile so we can build a
# custom docker image (in this case, includes python
# since python is required for the docker module)

- name: Define package installs for iRODS v3 Docker image
  set_fact:
    packages: "{{ irods3_packages }}"
  when: "{{ docker_preload_packages | bool }} and {{ irods_version | int }} == 3"

- name: Define package installs for iRODS v4 Docker image
  set_fact:
    packages: "{{ irods4_packages }}"
  when: "{{ docker_preload_packages | bool }} and {{ irods_version | int }} == 4"

- name: Check for existing docker images
  command: docker images
  register: docker_images

- name: Build docker host images
  command: "docker build --build-arg preload_packages={{ packages | default('') }} -t {{ inventory_hostname }} ./roles/docker-demo/files/"
  when: docker_images.stdout.find("demo") == -1

- name: Check for running docker images
  command: docker ps -a --filter=status=running
  register: docker_running
  when: docker_images.stdout.find("demo") != -1

- name: Run docker hosts
  docker:
    image: "{{ inventory_hostname }}"
    name: "{{ inventory_hostname }}"
    state: reloaded
    publish_all_ports: yes
    devices: "/dev/fuse:/dev/fuse:rwm"
    cap_add: SYS_ADMIN
    privileged: yes
    command: "/usr/local/bin/demo-starter {{ docker_container_uptime }} {{ inventory_hostname }}"
  when: docker_running.changed == false or docker_running.stdout.find("demo") == -1
