---
# install iRODS

- name: Include default variables
  hosts: irods
  tasks:
  - include_vars: vars/irods_version.yml

- name: Install iRODS
  hosts: irods
  become: yes
  roles:
    - common-prep
    - ssh-lockdown
    - { role: irods3, when: irods_version == 3 }
    - { role: irods4, when: irods_version == 4 }
