{
    "message_server_conf":{
        "hostname":"{{ config.amqp.host }}",
        "port":{{ config.amqp.port }},
        "user_id":"{{ config.amqp.user }}",
        "user_pwd":"{{ config.amqp.password }}",
        "vhost_subscribe":"/",
        "vhost_publish":"/irods/useraccess"
    },
    "datastore_conf":{
        "hostname":"{{ config.database.hostname }}",
        "port":{{ config.irods.port.main }},
        "user_id":"{{ config.amqp.user }}",
        "user_pwd":"{{ config.amqp.password }}",
        "zone":"{{ config.irods.zone }}"
    }
}

