-- creates db, default config.irods.role with all privileges.
DROP DATABASE IF EXISTS "{{ config.database.name }}";
CREATE DATABASE "{{ config.database.name }}";

DO
$body$
BEGIN
   IF NOT EXISTS (
      SELECT *
      FROM   pg_catalog.pg_user
      WHERE  usename = '{{ config.irods.users.primary.username }}') THEN

      CREATE USER {{ config.irods.users.primary.username }} WITH PASSWORD '{{ config.irods.users.primary.password }}';
   END IF;
END
$body$;

GRANT ALL PRIVILEGES ON DATABASE "{{ config.database.name }}" to {{ config.irods.users.primary.username }};

