-- creates db, default irods role with all privileges.
DROP DATABASE IF EXISTS "{{ irods.database.name }}";
CREATE DATABASE "{{ irods.database.name }}";

DO
$body$
BEGIN
   IF NOT EXISTS (
      SELECT *
      FROM   pg_catalog.pg_user
      WHERE  usename = '{{ irods.users.primary.username }}') THEN

      CREATE USER {{ irods.users.primary.username }} WITH PASSWORD '{{ irods.users.primary.password }}';
   END IF;
END
$body$;

GRANT ALL PRIVILEGES ON DATABASE "{{ irods.database.name }}" to {{ irods.users.primary.username }};

