#!/bin/bash

# Create users
rabbitmqctl add_user {{ amqp.user }} {{ amqp.password }}

# Create vhost
rabbitmqctl add_vhost /irods/useraccess

# Set user rights
rabbitmqctl set_user_tags {{ amqp.user }} administrator
rabbitmqctl set_permissions -p / {{ amqp.user }} ".*" ".*" ".*"
rabbitmqctl set_permissions -p /irods/useraccess {{ amqp.user }} ".*" ".*" ".*"

