#!/bin/bash

# Create users
rabbitmqctl add_user {{ config.amqp.user }} {{ config.amqp.password }}

# Create vhost
rabbitmqctl add_vhost /irods/useraccess

# Set user rights
rabbitmqctl set_user_tags {{ config.amqp.user }} administrator
rabbitmqctl set_permissions -p / {{ config.amqp.user }} ".*" ".*" ".*"
rabbitmqctl set_permissions -p /irods/useraccess {{ config.amqp.user }} ".*" ".*" ".*"

