-- creates db, default config.irods.role with all privileges.
DROP DATABASE IF EXISTS "{{ config_database_name }}";
CREATE DATABASE "{{ config_database_name }}";

DO
$body$
BEGIN
   IF NOT EXISTS (
      SELECT *
      FROM   pg_catalog.pg_user
      WHERE  usename = '{{ config_irods_users_primary_username }}') THEN

      CREATE USER {{ config_irods_users_primary_username }} WITH PASSWORD '{{ config_irods_users_primary_password }}';
   END IF;
END
$body$;

GRANT ALL PRIVILEGES ON DATABASE "{{ config_database_name }}" to {{ config_irods_users_primary_username }};

