{{ irods_admin_user }}
{{ irods_admin_password }}
{{ irods_zone }}
{{ irods_port }}
20000
20199
{{ irods_vault_dir }}


1248


{{ irods_admin_user }}
{{ irods_admin_password }}
yes
localhost
5432
{{ irods_db_name }}
{{ irods_db_user }}
{{ irods_db_password }}
yes

