{{ irods_db_user }}
{{ irods_db_password }}
{{ irods_server__zone }}
{{ irods_port__main }}
{{ irods_port__file_tx_range_begin }}
{{ irods_port__file_tx_range_end }}
{{ irods_vault_dir }}
{{ irods_server__zone_key }}
{{ irods_server__negotiation_key }}
{{ irods_port__control_plane }}
{{ irods_server__control_plane_key }}
{{ irods_validation_base_url }}
{{ irods_admin_user }}
{{ irods_admin_password }}
yes
{{ irods_db_hostname }}
{{ irods_db_port }}
{{ irods_db_name }}
{{ irods_db_user }}
{{ irods_db_password }}
yes

