---
# syndicate/tasks/main.yml
# Installs syndicate packages

- name: Prereqs and SSL support for apt for SSL
  become: yes
  apt:
    name: "{{ item }}"
    update_cache: yes
    cache_valid_time: 3600
    state: installed
  with_items:
    - "{{ syndicatems_prereq_packages }}"

- name: Create syndicate user
  user:
    name: "{{ syndicate_user }}"
    password: "{{ syndicate_password | password_hash('sha512') }}"

- name: Make dl_dir
  file:
    path: "{{ dl_dir }}"
    state: directory

- name: Get the google app engine
  get_url:
    url: "{{ GAE_SDK }}"
    dest: "{{ dl_dir }}/{{ GAE_SDK | basename }}"

- name: Install GAE
  unarchive:
    src: "{{ dl_dir }}/{{ GAE_SDK | basename }}"
    dest: "/home/{{ syndicate_user }}"
  ignore_errors: true
  register: gae_install_status

- name: Check if GAE install failed due to the unarchive bug
  stat:
    path: "{{ gae_path }}"
  register: gae_path_status

- name: Install GAE, try again
  shell: "cd /home/{{ syndicate_user }} && unzip {{ dl_dir }}/{{ GAE_SDK | basename }}"
  when: gae_install_status.failed == true and ( gae_path_status.stat.isdir is not defined or gae_path_status.stat.isdir == false )

- name: Trust butler opencloud apt repo
  apt_key:
    data: "{{ lookup('file', 'butler_opencloud_cs_arizona_edu_pub.gpg') }}"
    state: present

- name: Copy butler SSL key
  copy:
    src: butler.crt
    dest: /usr/local/share/ca-certificates
  register: ssl_key_added

- name: Trust SSL key
  when: ssl_key_added.changed
  command: "update-ca-certificates"

- name: Add apt repo for syndicate packages
  apt_repository:
    repo: "deb https://butler.opencloud.cs.arizona.edu/repos/release/syndicate syndicate main"
    filename: "butler"
    state: present

- name: Install syndicate-ms packages
  apt:
    name: "{{ item }}"
    update_cache: yes
    cache_valid_time: 3600
    state: present
  with_items:
    - syndicate-ms

- name: Copy syndicate-ms files
  copy:
    src: "{{ item }}"
    dest: "{{ ms_path }}"
    owner: "{{ syndicate_user }}"
  with_items:
    - configure_ms.mk
    - app.yamlin
    - Makefile

- name: Configure syndicate-ms
  command: "make all"
  args:
    chdir: "{{ ms_path }}"
    creates: "{{ ms_path }}/app.yaml"

- name: Adjust syndicate directory ownerships
  file:
    path: "{{ item }}"
    owner: "{{ syndicate_user }}"
    group: "{{ syndicate_user }}"
    mode: "u=rwx,g=rx,o=rx"
    recurse: yes
    state: directory
  with_items:
    - "/home/{{ syndicate_user }}"
    - "{{ ms_path }}"

- name: Fetch syndicate certs for demo-test
  fetch:
    src: "{{ ms_path }}/{{ item }}"
    dest: "/tmp/"
    flat: yes
  with_items:
    - admin.pub
    - admin.pem
    - syndicate.pub
    - syndicate.pem
  when: inventory_hostname in groups['syndicate-ms']

- name: Link syndicate certs
  file:
    src: "/opt/ms_certs/{{ item }}"
    dest: "{{ ms_path }}/{{ item }}"
    state: link
    force: yes
  with_items:
    - admin.pub
    - admin.pem
    - syndicate.pub
    - syndicate.pem
  when: inventory_hostname not in groups['syndicate-ms']

- name: Start syndicate-ms
  command: "daemon -- {{ gae_path }}/{{ gae_cmd }}"
