---
# syndicate-ms/tasks/main.yml
# Installs syndicate MS

- name: SSL support for apt
  become: yes
  apt:
    name: "{{ item }}"
    update_cache: yes
    cache_valid_time: 3600
    state: installed
  with_items:
    - apt-transport-https
    - ca-certificates

- name: Utilities
  become: yes
  apt:
    name: "{{ item }}"
    update_cache: yes
    cache_valid_time: 3600
    state: installed
  with_items:
    - daemon
    - make
    - unzip

- name: Trust butler opencloud apt repo
  apt_key:
    data: "{{ lookup('file', 'butler_opencloud_cs_arizona_edu_pub.gpg') }}"
    state: present

- name: Copy butler SSL key
  copy:
    src: butler.crt
    dest: /usr/local/share/ca-certificates
  register: ssl_key_added

- name: Trust SSL key
  when: ssl_key_added.changed
  command: "update-ca-certificates"

- name: Add apt repo for syndicate packages
  apt_repository:
    repo: "deb https://butler.opencloud.cs.arizona.edu/repos/release/syndicate syndicate main"
    filename: "butler"
    state: present

- name: Create syndicate user
  user:
    name: "{{ syndicate_user }}"
    password: "{{ syndicate_password | password_hash('sha512') }}"

- name: Add syndicate user to sudoers
  lineinfile:
    dest: /etc/sudoers
    state: present
    regexp: "^%{{ syndicate_user }}"
    line: "%{{ syndicate_user }} ALL=(ALL) NOPASSWD: ALL"

- name: Make dl_dir
  file:
    path: "{{ dl_dir }}"
    state: directory

- name: Get the google app engine
  get_url:
    url: "{{ gae_sdk }}"
    checksum: "{{ gae_sdk_checksum }}"
    dest: "{{ dl_dir }}/{{ gae_sdk | basename }}"

- name: Install GAE
  unarchive:
    src: "{{ dl_dir }}/{{ gae_sdk | basename }}"
    dest: "{{ gae_path | dirname }}"
  ignore_errors: true
  register: gae_install_status

- name: Check if GAE install failed due to the unarchive bug
  stat:
    path: "{{ gae_path }}"
  register: gae_path_status

- name: Install GAE, try again
  shell: "cd {{ gae_path | dirname }} && unzip {{ dl_dir }}/{{ gae_sdk | basename }}"
  when: gae_install_status.failed == true and ( gae_path_status.stat.isdir is not defined or gae_path_status.stat.isdir == false )

- name: Install syndicate-ms packages
  apt:
    name: "{{ item }}"
    update_cache: yes
    cache_valid_time: 3600
    state: present
  with_items:
    - syndicate-ms
    - syndicate-core

- name: Template syndicate-ms files
  template:
    src: "{{ item }}.j2"
    dest: "{{ ms_path }}/{{ item }}"
    owner: "{{ syndicate_user }}"
    group: "{{ syndicate_user }}"
    mode: 0755
  with_items:
    - configure_ms.mk
    - app.yamlin
    - Makefile

- name: Configure syndicate-ms
  command: "make all"
  args:
    chdir: "{{ ms_path }}"
    creates: "{{ ms_path }}/app.yaml"

- name: Adjust syndicate directory ownerships
  file:
    path: "{{ item }}"
    owner: "{{ syndicate_user }}"
    group: "{{ syndicate_user }}"
    mode: "u=rwx,g=rx,o=rx"
    recurse: yes
    state: directory
  with_items:
    - "/home/{{ syndicate_user }}"
    - "{{ ms_path }}"
    - "{{ ms_pid_dir }}"
    - "{{ ms_data_path }}"

- name: Template /etc/profile.d config files
  template:
    src: "{{ item }}.j2"
    dest: "/etc/profile.d/{{ item }}"
    owner: root
    group: root
    mode: 0755
  with_items:
    - gae.sh

- name: Copy over initscripts
  template:
    src: "{{ item }}.j2"
    dest: "/etc/init.d/{{ item }}"
    owner: "root"
    group: "root"
    mode: "0755"
  with_items:
    - syndicate-ms

- name: Restart syndicate processes
  service:
    name: "{{ item }}"
    state: restarted
  with_items:
    - syndicate-ms
  when: inventory_hostname in groups['syndicate-ms']

- name: Setup syndicate tool
  command: "syndicate --trust_public_key setup {{ syndicate_ms_admin }} /usr/src/syndicate/ms/admin.pem http://{{ syndicate_ms_host }}:{{ gae_service_port }}"
  become: true
  become_user: "{{ syndicate_user }}"
  args:
    chdir: "/home/{{ syndicate_user }}"


- name: Fetch syndicate certs for demo-tests
  fetch:
    src: "{{ ms_path }}/{{ item }}"
    dest: "/tmp/"
    flat: yes
  with_items:
    - admin.pub
    - admin.pem
    - syndicate.pub
    - syndicate.pem
  when: inventory_hostname in groups['syndicate-ms']

- name: Link syndicate certs
  file:
    src: "/opt/ms_certs/{{ item }}"
    dest: "{{ ms_path }}/{{ item }}"
    state: link
    force: yes
  with_items:
    - admin.pub
    - admin.pem
    - syndicate.pub
    - syndicate.pem
  when: inventory_hostname not in groups['syndicate-ms']
